<!-- Send Comments -->
<h2 class="primary-text section-title">
    <span>
        <mat-icon>contact_mail</mat-icon>
        {{'contact.comments.title' | transloco}}
    </span>
</h2>

<div class="row" *transloco="let ts; read: 'contact.comments'">
    <div class="col s12 m5 no-m">
        <p class="flow-text">{{ts('desc1')}}<strong class="accent-text">{{ts('desc2')}}</strong></p>
    </div>
    <div class="col s12 m5 no-m">
        <form class="row no-m" [formGroup]="contact" (ngSubmit)="onSubmit(myForm)" #myForm="ngForm" enctype="multipart/form-data">
            <!-- Name -->
            <mat-form-field appearance="outline" class="col s12 m12 l6 no-m">
                <mat-label>{{ts('name')}}</mat-label>
                <input matInput type="text" required minlength="3" maxlength="35" autocomplete="name" formControlName="name">
                <mat-icon matPrefix color="primary">person</mat-icon>
                <ng-container matSuffix *ngIf="contact.controls.name.value">
                    <button type="button" mat-icon-button [matTooltip]="'clear' | transloco" (click)="contact.controls.name.reset()">
                        <mat-icon>clear</mat-icon>
                    </button>
                </ng-container>
                <mat-hint align="end">{{contact.controls.name.value?.length || 0}} / 35</mat-hint>
                <mat-error *ngIf="contact.hasError('required', 'name')">{{ts('name_req')}}</mat-error>
                <mat-error *ngIf="contact.hasError('minlength', 'name')">{{ts('name_min')}}</mat-error>
                <mat-error *ngIf="contact.hasError('maxlength', 'name')">{{ts('name_max')}}</mat-error>
            </mat-form-field>

            <!-- Email -->
            <mat-form-field appearance="outline" class="col s12 m12 l6 no-m">
                <mat-label>{{ts('email')}}</mat-label>
                <input matInput type="email" required autocomplete="email" formControlName="email" placeholder="correo electrónico">
                <mat-icon matPrefix color="primary">email</mat-icon>
                <ng-container matSuffix *ngIf="contact.controls.email.value">
                    <button type="button" mat-icon-button [matTooltip]="'clear' | transloco" (click)="contact.controls.email.reset()">
                        <mat-icon>clear</mat-icon>
                    </button>
                </ng-container>
                <mat-error *ngIf="contact.hasError('required', 'email')">{{ts('email_req')}}</mat-error>
                <mat-error *ngIf="contact.hasError('email', 'email')">{{ts('email_invalid')}}</mat-error>
            </mat-form-field>

            <!-- Comments -->
            <mat-form-field appearance="outline" class="col s12 no-m">
                <mat-label>{{ts('comment')}}</mat-label>
                <textarea matInput rows="5" required minlength="10" maxlength="300" formControlName="comment"></textarea>
                <mat-icon matPrefix color="primary">comment</mat-icon>
                <ng-container matSuffix *ngIf="contact.controls.comment.value">
                    <button type="button" mat-icon-button [matTooltip]="'clear' | transloco" (click)="contact.controls.comment.reset()">
                        <mat-icon>clear</mat-icon>
                    </button>
                </ng-container>
                <mat-hint align="end">{{contact.controls.comment.value?.length || 0}} / 300</mat-hint>
                <mat-error *ngIf="contact.hasError('required', 'comment')">{{ts('comment_req')}}</mat-error>
                <mat-error *ngIf="contact.hasError('minlength', 'comment')">{{ts('comment_min')}}</mat-error>
                <mat-error *ngIf="contact.hasError('maxlength', 'comment')">{{ts('comment_max')}}</mat-error>
            </mat-form-field>

            <div class="col s12 center">
                <div>
                    <button type="submit" mat-raised-button color="primary" [disabled]="contact.disabled">
                        <mat-icon>send</mat-icon>&nbsp;{{ts('send')}}
                    </button>
                    <button type="reset" mat-raised-button [disabled]="contact.disabled">{{ts('reset')}}</button>
                </div>
            </div>
        </form>
    </div>
</div>