.form-error {
    display: block;
    color: var(--warn);
    font-size: 12px;
  }
.snack-dark {
    background: #fafafa;
    color: #333333;
}
.flow-text{
    $i: 0;
    @while $i <= $intervals {
      @media only screen and (min-width : 360 + ($i * $interval-size)) {
        font-size: 1.2rem * (1 + (.02 * $i));
      }
      $i: $i + 1;
    }

    // Handle below 360px screen
    @media only screen and (max-width: 360px) {
      font-size: 1.2rem;
    }
}
.primary-text {
  color: var(--primary);
}
.accent-text {
  color: var(--accent);
}
.warn-text {
  color: var(--warn);
}
.section-title {
  $color: rgba(var(--foreground-rgb), 0.25);
  $border: 4px solid $color;
  position: relative;
  margin-bottom: 1em;
  font-size: 22px;
  font-weight: 500;
  text-align: left;
  &:before {
    content: '';
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    border-bottom: $border;
  }
  span {
    position: relative;
    display: inline-block;
    padding-right: 1.4em;
    background: var(--background-card);
    mat-icon, fa-icon {
      padding: 6px;
      border-radius: 50%;
      border: $border;
      color: $color;
      margin-right: 12px;
      $size: 24px;
      font-size: $size;
      width: $size;
      height: $size;
      display: inline;
      vertical-align: middle;
    }
    fa-icon { font-size: 20px; }
  }
}
@mixin card {
  background: var(--primary) !important;
  color: #fff;
}
.cards {
  display: grid;
  gap: 14px;
  grid-auto-rows: 185px;
  grid-template-columns: repeat(auto-fit, minmax(min(100%, 200px), 1fr));
}
.card {
    @include card();
    mat-card-title > mat-icon {
      $size: 32px;
      font-size: $size;
      width: $size;
      height: $size;
      vertical-align: middle;
    }
}
.card-github {
  @include card();
  mat-card-title {
    font-size: 1.2em;
  }
  .description {
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 3;
    display: -webkit-box;
    -webkit-box-orient: vertical;
  }
  & > fa-icon {
    font-size: 4em;
    position: absolute;
    bottom: -24px;
    left: -22px;
    color: var(--background-card);
  }
}
.progress-container {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  .title {
    text-align: center;
    font-size: 14px;
    margin-bottom: 16px;
    width: 99%;
  }
}
.progress-circle {
  font-size: 20px;
  margin: 15px 15px 0;
  position: relative;
  padding: 0;
  width: 5em;
  height: 5em;
  border-radius: 50%;
  line-height: 5em;
  background-color: rgba(var(--foreground-rgb), 0.1);
  &::after {
    content: '';
    border: none;
    position: absolute;
    top: .35em;
    left: .35em;
    text-align: center;
    display: block;
    border-radius: 50%;
    width: 4.3em;
    height: 4.3em;
    background-color: var(--background);
  }
  span {
    position: absolute;
    width: 5em;
    height: 5em;
    line-height: 5em;
    text-align: center;
    display: block;
    color: var(--accent);
    z-index: 1;
  }
  .left-half-clipper {
    border-radius: 50%;
    width: 5em;
    height: 5em;
    position: absolute;
    clip: rect(0, 5em, 5em, 2.5em);
  }
  &.over50 {
    .first50-bar {
      position: absolute;
      clip: rect(0, 5em, 5em, 2.5em);
      background-color: var(--accent);
      border-radius: 50%;
      width: 5em;
      height: 5em;
    }
    .left-half-clipper {
      clip: rect(auto, auto, auto, auto);
    }
  }
  .value-bar {
    position: absolute;
    clip: rect(0,2.5em,5em,0);
    width: 5em;
    height: 5em;
    border-radius: 50%;
    border: .45em solid var(--accent);
    box-sizing: border-box
  }
  &:not(.over50) .first50-bar {
    display: none;
  }
  $index: 5;
  @while $index <= 100 {
    &.p#{$index} .value-bar {
      -webkit-transform: rotate(#{($index / 100 * 360)}deg);
      transform: rotate(#{($index / 100 * 360)}deg);
    }
    $index: $index + 5;
  }
}
// Chips
.chip-list {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  .chip {
      display: inline-flex;
      align-items: center;
      margin: 4px;
      padding: 0 12px 0 0;
      background-color: rgba(var(--foreground-rgb), 0.15);
      color: var(--foreground);
      position: relative;
      -webkit-tap-highlight-color: transparent;
      border: none;
      -webkit-appearance: none;
      font-size: 14px;
      font-weight: 500;
      border-radius: 16px;
      min-height: 32px;
      height: 1px;
      cursor: pointer;
      transition: box-shadow 280ms cubic-bezier(0.4, 0, 0.2, 1);
      @media only screen and (max-width: 600px) { font-size: 13px; }
      &.primary {
          background-color: var(--primary);
          color: white;
      }
      &.accent {
          background-color: var(--accent);
          color: white;
      }
      &.outline {
          background-color: transparent;
          border: 2.3px solid var(--primary);
          color: var(--primary);
      }
      .chip-avatar {
          width: 24px;
          height: 24px;
          margin-right: 8px;
          margin-left: 4px;
      }
      &::after {
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
          position: absolute;
          border-radius: inherit;
          opacity: 0;
          content: '';
          pointer-events: none;
          transition: opacity 200ms cubic-bezier(0.35, 0, 0.25, 1);
      }
  }
}